/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.backg{
   background-color: #b2b1b9;
background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");

}